:host {
  display: block;
}

button {
  background: var(--primary);
  color: var(--white);
  padding: 1rem 1.5rem;
  border: 0;
}

button.light {
  background: var(--secondary);
  color: var(--black);
}
